html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "Garamond", serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 1280px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

nav {
  height: 60px;
  background-color: #fff;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  min-width: 1280px;
  text-transform: uppercase;
  position: relative;
  z-index: 1; }
  nav .logo-div {
    display: inline-block;
    float: left; }
    nav .logo-div img {
      padding-left: 20px;
      height: 60px; }
  nav .menu {
    display: inline-block; }
    nav .menu ul {
      margin: 0;
      padding: 0;
      margin-top: 0;
      list-style: none; }
      nav .menu ul li {
        display: inline-block; }
        nav .menu ul li:first-child a {
          border-left: 1px solid transparent; }
        nav .menu ul li a {
          padding: 0 45px;
          border-left: 1px solid #4e4e4e;
          color: #4e4e4e; }
          nav .menu ul li a:hover, nav .menu ul li a.active {
            color: #fff;
            text-decoration: none;
            background: #b23643;
            padding: 22px 45px;
            border-left: 1px solid transparent; }

.main {
  background: url("../img/bg.png") no-repeat top center #fff;
  background-size: contain; }
  .main .book {
    position: absolute;
    top: 9%;
    left: 1%;
    width: 20%; }
  .main .txt {
    position: absolute;
    top: 5%;
    left: 45%;
    width: 25%; }
  .main .sheet {
    position: absolute;
    top: 36px;
    right: 3%;
    width: 18%;
    z-index: 1; }
  .main .on-table {
    position: absolute;
    top: 23%;
    right: 22%;
    width: 36%; }
  .main .container {
    padding-top: 50%;
    width: 1024px; }
    .main .container .desc {
      text-align: center; }
      .main .container .desc:after {
        content: url(../img/pen-border-bottom.png);
        position: relative;
        top: 10px; }
      .main .container .desc h1 {
        font-size: 43px;
        font-style: italic;
        font-weight: 300;
        display: inline-block; }
      .main .container .desc img {
        padding: 0 10px; }
      .main .container .desc p {
        display: inline-block;
        position: relative;
        top: 20px;
        text-align: left; }

.carousel-div {
  background: url(../img/spot.png) no-repeat center center;
  background-size: 90%;
  margin-top: 50px; }
  .carousel-div .container2 {
    padding-top: 0; }
    .carousel-div .container2 .slider-for .carousel-elem .elem-img-div {
      float: left; }
    .carousel-div .container2 .slider-for .carousel-elem .elem-desc-div {
      padding-left: 40px;
      display: inline-block;
      width: 460px;
      outline: none; }
      .carousel-div .container2 .slider-for .carousel-elem .elem-desc-div h2 {
        font-size: 60px;
        font-style: italic;
        margin: 0; }
      .carousel-div .container2 .slider-for .carousel-elem .elem-desc-div p {
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 18px; }
      .carousel-div .container2 .slider-for .carousel-elem .elem-desc-div a {
        color: #b23643;
        font-size: 18px;
        padding: 5px 10px;
        border: 1px solid #b23643; }
        .carousel-div .container2 .slider-for .carousel-elem .elem-desc-div a:hover, .carousel-div .container2 .slider-for .carousel-elem .elem-desc-div a:focus {
          background-color: #b23643;
          color: #F5E6CB;
          text-decoration: none; }

.slick-arrow {
  position: absolute;
  top: 45%;
  background: none;
  border: none;
  color: transparent;
  outline: none; }

.slick-prev {
  left: -70px; }
  .slick-prev:before {
    content: url(../img/arrow-prev.png); }

.slick-next {
  right: -70px; }
  .slick-next:before {
    content: url(../img/arrow-next.png); }

.slider-nav {
  margin-top: 50px; }
  .slider-nav .dot-elem-div {
    text-align: center;
    outline: none; }
    .slider-nav .dot-elem-div:hover a {
      color: #b23643;
      border-bottom: 1px dotted #b23643; }
    .slider-nav .dot-elem-div:hover {
      cursor: pointer; }
    .slider-nav .dot-elem-div img {
      margin-bottom: 20px; }
    .slider-nav .dot-elem-div a {
      font-size: 18px;
      border-bottom: 1px dotted #000;
      color: #000;
      pointer-events: none; }
    .slider-nav .dot-elem-div.slick-current a {
      color: #b23643;
      border-bottom: 1px transparent; }
      .slider-nav .dot-elem-div.slick-current a:after {
        content: url(../img/pen-red.png);
        position: relative;
        left: -15px; }

.footer-back {
  background-image: url(../img/footer-left-bg.png), url(../img/footer-right-bg.png);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat; }

.footer {
  height: 200px;
  width: 100%;
  z-index: 0; }
  .footer p {
    margin-left: 20px;
    color: #b6a17a;
    font-size: 18px;
    position: absolute;
    bottom: 0; }
    .footer p img {
      padding-right: 10px; }

.second-main {
  background: url(../img/second-top-bg.png) top center no-repeat; }
  .second-main .second-book {
    top: 30px;
    left: 3%;
    width: 15%; }
  .second-main .second-container {
    padding-top: 20px;
    position: relative;
    z-index: 1;
    text-align: center; }
    .second-main .second-container .desc h1 {
      display: block;
      margin: 0; }
    .second-main .second-container .second-desc {
      width: 700px;
      padding-top: 40px;
      margin: 0 auto; }

.main-section {
  text-align: center; }

.menu-elem {
  margin: 0;
  list-style: none;
  width: 700px;
  margin: 0 auto;
  margin-top: 150px; }
  .menu-elem li {
    float: left;
    margin: 0 60px; }
    .menu-elem li a {
      color: #000;
      border-bottom: 1px dotted #000; }
      .menu-elem li a.tv.active {
        border-bottom: 1px transparent;
        color: #b23643; }
        .menu-elem li a.tv.active:before {
          background-position: 68px -121px; }
        .menu-elem li a.tv.active:after {
          content: url(../img/pen-red.png);
          position: absolute;
          left: 177px;
          top: 378px; }
      .menu-elem li a.pressa.active {
        border-bottom: 1px transparent;
        color: #b23643; }
        .menu-elem li a.pressa.active:before {
          background-position: -182px -121px; }
        .menu-elem li a.pressa.active:after {
          content: url(../img/pen-red.png);
          position: absolute;
          left: 330px;
          top: 378px; }
      .menu-elem li a.radio.active {
        border-bottom: 1px transparent;
        color: #b23643; }
        .menu-elem li a.radio.active:before {
          background-position: -411px -121px; }
        .menu-elem li a.radio.active:after {
          content: url(../img/pen-red.png);
          position: absolute;
          left: 484px;
          top: 378px; }
      .menu-elem li a.internet.active {
        border-bottom: 1px transparent;
        color: #b23643; }
        .menu-elem li a.internet.active:before {
          background-position: -653px -121px; }
        .menu-elem li a.internet.active:after {
          content: url(../img/pen-red.png);
          position: absolute;
          left: 652px;
          top: 378px; }
      .menu-elem li a:hover {
        text-decoration: none;
        color: #b23643;
        border-bottom: 1px dotted #b23643; }
      .menu-elem li a:before {
        content: "";
        background: url(../img/smi-icons-sprite.png) no-repeat;
        width: 200px;
        height: 120px;
        position: absolute; }
      .menu-elem li a.tv:before {
        background-position: 68px 0;
        left: 142px;
        top: 228px; }
      .menu-elem li a.tv:hover:before {
        background-position: 68px -121px; }
      .menu-elem li a.pressa:before {
        background-position: -182px 0;
        left: 298px;
        top: 228px; }
      .menu-elem li a.pressa:hover:before {
        background-position: -182px -121px; }
      .menu-elem li a.radio:before {
        background-position: -411px 0;
        left: 451px;
        top: 228px; }
      .menu-elem li a.radio:hover:before {
        background-position: -411px -121px; }
      .menu-elem li a.internet:before {
        background-position: -653px 0;
        left: 615px;
        top: 228px; }
      .menu-elem li a.internet:hover:before {
        background-position: -653px -121px; }

.smi-section {
  padding-top: 100px; }
  .smi-section .col-xs-3 {
    margin-bottom: 20px; }
    .smi-section .col-xs-3 a {
      color: #4e4e4e;
      text-decoration: underline; }
      .smi-section .col-xs-3 a img {
        opacity: 0.5; }
      .smi-section .col-xs-3 a:hover {
        color: #b23643; }
        .smi-section .col-xs-3 a:hover img {
          opacity: 1; }

.about-section .about-hr {
  margin: 30px 0; }
.about-section .first-p {
  width: 800px;
  margin: 0 auto; }
  .about-section .first-p .first-img {
    display: table-cell;
    vertical-align: middle; }
    .about-section .first-p .first-img img {
      padding: 20px; }
  .about-section .first-p .first-text {
    display: table-cell;
    vertical-align: middle; }
.about-section .next-p {
  width: 800px;
  margin: 20px auto; }
  .about-section .next-p .next-img {
    display: table-cell;
    vertical-align: middle; }
    .about-section .next-p .next-img img {
      padding: 20px; }
  .about-section .next-p .next-text {
    display: table-cell;
    vertical-align: middle;
    text-align: justify; }
.about-section h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  display: block;
  width: 800px; }
  .about-section h3 span {
    font-weight: bold; }

.gallery-section {
  margin-left: 70px;
  margin-top: 50px; }
  .gallery-section .gal-elem {
    width: 250px;
    display: inline-block;
    margin: 20px; }
    .gallery-section .gal-elem img {
      width: 100%; }

.ajax-div {
  background: url(../img/ajax-bg-spot.png) center center no-repeat;
  width: 300px;
  height: 130px;
  line-height: 130px; }
  .ajax-div a {
    color: #4e4e4e;
    font-style: italic;
    font-size: 25px; }
    .ajax-div a:hover {
      color: #999;
      text-decoration: none; }

.ajax-div-shop a {
  padding: 0 0 0 60px; }

.add-comment-form {
  width: 600px;
  margin: 0 auto; }
  .add-comment-form .comment-name {
    width: 49%;
    border: 1px solid #dcc9a7;
    float: left;
    padding-left: 10px;
    outline: none;
    color: #b23643; }
    .add-comment-form .comment-name::-webkit-input-placeholder {
      color: #dcc9a7; }
  .add-comment-form .comment-theme {
    width: 49%;
    border: 1px solid #dcc9a7;
    float: right;
    padding-left: 10px;
    outline: none;
    color: #b23643; }
    .add-comment-form .comment-theme::-webkit-input-placeholder {
      color: #dcc9a7; }
  .add-comment-form .comment-textarea {
    width: 100%;
    border: 1px solid #dcc9a7;
    margin: 10px 0 5px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    color: #b23643; }
    .add-comment-form .comment-textarea::-webkit-input-placeholder {
      color: #dcc9a7; }
  .add-comment-form .comment-input-capcha {
    width: 370px;
    float: left;
    border: 1px solid #dcc9a7;
    height: 38px;
    padding-left: 10px;
    outline: none;
    color: #b23643; }
    .add-comment-form .comment-input-capcha::-webkit-input-placeholder {
      color: #dcc9a7; }
  .add-comment-form .comment-capcha {
    position: relative;
    left: -9px; }
  .add-comment-form .comment-submit {
    width: 120px;
    margin: 0;
    position: relative;
    left: 9px;
    height: 38px;
    background: none;
    border: 1px solid #b23643;
    color: #b23643; }
    .add-comment-form .comment-submit:hover {
      background-color: #b23643;
      color: #F5E6CB;
      text-decoration: none; }

.add-comment {
  color: #4e4e4e;
  font-size: 25px;
  margin: 30px 0 10px; }

.comment-txt:before {
  content: url(../img/comment-start.png);
  position: relative;
  top: 60px;
  left: -450px; }
.comment-txt:after {
  content: url(../img/comment-end.png);
  position: relative;
  bottom: 30px;
  right: -520px; }
.comment-txt .about-hr {
  margin: 30px 0; }
.comment-txt p {
  text-align: left;
  margin: 0; }
.comment-txt .theme-txt {
  font-weight: bold;
  margin-bottom: 20px; }
.comment-txt .name-txt {
  text-align: right;
  font-size: 25px;
  font-style: italic;
  line-height: 20px; }
  .comment-txt .name-txt span {
    display: block;
    font-size: 14px; }

.delivery {
  color: #4e4e4e;
  text-decoration: underline;
  display: inherit;
  margin-top: 30px;
  font-size: 22px; }
  .delivery:hover {
    color: #b23643; }

.fancybox-skin {
  border-radius: 0; }
  .fancybox-skin .fancybox-title-float-wrap {
    bottom: initial; }
    .fancybox-skin .fancybox-title-float-wrap .child {
      white-space: initial;
      border-radius: 0;
      background: #f9f9f9;
      color: #000;
      text-shadow: none;
      padding: 10px; }

.fancybox {
  color: #000; }
  .fancybox:hover {
    color: #000;
    opacity: 0.5; }

.menu-shop {
  margin: 0;
  list-style: none;
  width: 700px;
  margin: 0 auto;
  margin-top: 110px; }
  .menu-shop li {
    float: left;
    margin: 0 60px; }
    .menu-shop li a {
      border-bottom: 1px #000 dotted;
      color: #000; }
      .menu-shop li a:before {
        content: "";
        background: url(../img/shop-icon-sprite.png) no-repeat;
        height: 120px;
        top: 260px;
        position: absolute; }
      .menu-shop li a.rus-roman:before {
        background-position: -18px 0;
        left: 277px;
        width: 100px; }
      .menu-shop li a.rus-roman.active {
        text-decoration: none;
        color: #b2364b;
        border-bottom: 1px transparent; }
        .menu-shop li a.rus-roman.active:before {
          background-position: -18px -134px; }
        .menu-shop li a.rus-roman.active:after {
          content: url(../img/pen-red.png);
          position: absolute;
          left: 230px;
          top: 408px; }
      .menu-shop li a.for-kids:before {
        background-position: -146px 0;
        left: 477px;
        width: 132px; }
      .menu-shop li a.for-kids.active {
        text-decoration: none;
        color: #b2364b;
        border-bottom: 1px transparent; }
        .menu-shop li a.for-kids.active:before {
          background-position: -146px -134px; }
        .menu-shop li a.for-kids.active:after {
          content: url(../img/pen-red.png);
          position: absolute;
          left: 446px;
          top: 408px; }
      .menu-shop li a.za-trez:before {
        background-position: -299px 0;
        left: 665px;
        width: 132px; }
      .menu-shop li a.za-trez.active {
        text-decoration: none;
        color: #b2364b;
        border-bottom: 1px transparent; }
        .menu-shop li a.za-trez.active:before {
          background-position: -299px -134px; }
        .menu-shop li a.za-trez.active:after {
          content: url(../img/pen-red.png);
          position: absolute;
          left: 640px;
          top: 408px; }
      .menu-shop li a.rus-roman:hover:before {
        background-position: -18px -134px; }
      .menu-shop li a.for-kids:hover:before {
        background-position: -146px -134px; }
      .menu-shop li a.za-trez:hover:before {
        background-position: -299px -134px; }
      .menu-shop li a:hover {
        text-decoration: none;
        color: #b2364b;
        border-bottom: 1px #b23643 dotted; }

.books-block {
  margin-top: 190px;
  text-align: justify; }
  .books-block .book-elem {
    display: inline-block;
    width: 193px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 100px; }
    .books-block .book-elem a {
      color: #000;
      text-decoration: underline; }
      .books-block .book-elem a:hover {
        text-decoration: none; }
      .books-block .book-elem a img {
        padding-bottom: 15px; }
    .books-block .book-elem p {
      display: inline-block; }
    .books-block .book-elem input {
      width: 25px;
      padding: 1px 5px;
      border: 1px solid #dcc9a7;
      color: #4e4e4e;
      margin-left: 10px; }
    .books-block .book-elem .price {
      color: #b23643;
      font-size: 22px;
      display: block;
      margin: 0;
      font-weight: bold;
      margin-bottom: 10px; }
      .books-block .book-elem .price span {
        font-weight: normal; }
    .books-block .book-elem .cart-href {
      padding: 5px 10px;
      border: 1px solid #b23643;
      font-size: 20px;
      color: #b23643;
      font-weight: normal;
      text-decoration: none; }
      .books-block .book-elem .cart-href:hover {
        color: #fff;
        background-color: #b23643; }
    .books-block .book-elem .book-add-in-cart {
      position: absolute;
      font-style: italic;
      margin-top: 20px; }
      .books-block .book-elem .book-add-in-cart p {
        display: block;
        margin: 0; }

.one-book-block {
  margin-top: 220px; }
  .one-book-block .book-img {
    float: left; }
  .one-book-block .book-desc {
    float: right;
    width: 780px;
    text-align: left; }
    .one-book-block .book-desc h1 {
      font-weight: bold;
      font-size: 18px;
      margin-top: 0; }
    .one-book-block .book-desc p {
      margin: 0;
      font-weight: normal;
      font-size: 14px; }
    .one-book-block .book-desc .quote {
      margin: 20px 0;
      color: #999;
      font-style: italic; }
      .one-book-block .book-desc .quote span {
        font-weight: bold;
        color: #000;
        display: block;
        font-size: 18px; }
    .one-book-block .book-desc p {
      display: inline-block; }
    .one-book-block .book-desc input {
      width: 25px;
      padding: 1px 5px;
      border: 1px solid #dcc9a7;
      color: #4e4e4e;
      margin-left: 10px; }
    .one-book-block .book-desc .price {
      color: #b23643;
      font-size: 22px;
      display: block;
      margin: 0;
      font-weight: bold;
      margin-bottom: 10px; }
      .one-book-block .book-desc .price span {
        font-weight: normal; }
    .one-book-block .book-desc .cart-href {
      padding: 5px 10px;
      border: 1px solid #b23643;
      font-size: 20px;
      color: #b23643;
      font-weight: normal;
      text-decoration: none; }
      .one-book-block .book-desc .cart-href:hover {
        color: #fff;
        background-color: #b23643; }
    .one-book-block .book-desc .book-add-in-cart {
      font-style: italic;
      float: left;
      position: relative;
      top: 64px;
      left: 30px; }
      .one-book-block .book-desc .book-add-in-cart p {
        display: block;
        margin: 0; }
      .one-book-block .book-desc .book-add-in-cart a {
        color: #000;
        text-decoration: underline; }
        .one-book-block .book-desc .book-add-in-cart a:hover {
          text-decoration: none; }
    .one-book-block .book-desc .shop-block {
      display: inline-block;
      float: left; }

.one-book-back {
  position: absolute;
  right: 0;
  bottom: -20px;
  background: url(../img/ajax-bg-spot.png) center center no-repeat;
  background-size: 100%;
  width: 150px;
  height: 65px;
  line-height: 65px;
  font-size: 20px;
  color: #000;
  font-style: italic; }

/*# sourceMappingURL=main.css.map */
