@import "bourbon/bourbon"

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: "RobotoRegular", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

$black-blue: #001a32
$red: #fe0000
.content-wrapper
	position: relative
	min-width: 1200px
.nav-section
	background-color: $black-blue
	border-bottom: 5px solid darken( $black-blue, 5%)
	position: relative
	min-width: 1200px
.logo-div
	display: inline-block
	img
		padding: 10px 0 10px 10px
.menu-div
	display: inline-block
	.wrapper
		display: inline-block
		vertical-align: middle
		ul
			list-style: none
			display: inline-block
			margin: 0 10px
			padding: 0
			font-size: 14px
			transition: all .2s
			-webkit-transition: all .2s
			li
				display: inline-block
				padding: 42px 10px
				a
					color: #fff
					padding: 44px 0
					position: relative
					&:after
						content: ''
						position: absolute
						width: 0
						height: 5px
						bottom: -5px
						left: 0
						background: transparent
						transition: all .2s
						-webkit-transition: all .2s
					&:hover, &:focus
						text-decoration: none
						&:after
							background: $red
							width: 100%
.order-div
	display: inline-block
	p
		color: #fff
		font-size: 16px
		margin: 0
		display: inline-block
		vertical-align: middle
		font-weight: bold
.order-button
	color: #fff
	background-color: $red
	border-bottom: 3px solid darken($red, 5%)
	border-radius: 5px
	display: block
	padding: 5px 20px
	margin: 10px 0 0
	text-transform: uppercase
	font-weight: bold
	transition: all .2s
	-webkit-transition: all .2s
	&:hover, &:focus
		background-color: darken($red, 5%)
		border-bottom: 3px solid transparent
		color: darken(#fff, 5%)
		text-decoration: none
.cart-div
	display: inline-block
	vertical-align: middle
	color: #fff
	text-align: center
	margin: 0 0 0 10px 
	position: relative
	label
		position: relative
		display: block
		input
			border-radius: 5px
			border: 1px solid #ccc
			padding-left: 20px
			color: #000
			width: 100%
			height: 30px
		i
			position: absolute
			left: 5px
			top: 7px
			color: #666
	p
		margin: 20px 0 0
		font-size: 16px
		display: inline-block
		padding: 0
		a
			color: #fff
			padding: 17px 0
			position: relative
			transition: all .2s
			-webkit-transition: all .2s
			&:after
				content: ''
				position: absolute
				width: 0
				height: 5px
				bottom: -5px
				left: 0
				background: transparent
				transition: all .2s
				-webkit-transition: all .2s
			&:hover, &:focus
				text-decoration: none
				&:after
					background: $red
					width: 100%
	.price
		background-color: lighten($black-blue, 5%)
		padding: 5px 10px
		margin-left: 10px
.time
	color: #fff
	position: absolute
	right: 0px
	top: 0
	width: 35px
	background-color: lighten($red, 5%)
	font-size: 18px
	height: 111px
	transition: all .2s
	-webkit-transition: all .2s
	overflow: hidden
	border-bottom: 5px solid darken($red, 5%)
	&:hover
		background-color: darken($red, 5%)
	&.active
		width: 240px
	&:before
		content: '\200B'
		display: inline-block
		height: 100%
		vertical-align: middle
	i
		display: inline-block
		padding: 0 5px
		vertical-align: middle
	p
		display: inline-block
		vertical-align: middle
		margin: 0 10px
.large-time
	display: inline-block
	color: #fff
	margin: 0 20px
	i
		display: inline-block
		padding: 0 10px
		vertical-align: middle
	p
		display: inline-block
		vertical-align: middle
		margin: 0 10px
.main-section
	margin: 20px 0
.sidebar-header
	background-color: $black-blue
	color: #fff
	text-align: center
	margin: 0
	padding: 5px 10px
	border-radius: 5px
	text-transform: uppercase
	font-size: 18px
	font-weight: bold
.sub-menu-ul
	list-style: none
	background-color: #f6f6f6
	padding: 0
	margin: 0
	margin-top: 20px
	border-radius: 10px
	li
		padding: 10px 20px
		border-bottom: 1px dashed $black-blue
		width: 100%
		&:last-child
			border-bottom: 1px dashed transparent
		i
			color: lighten($red, 5%)
		a
			display: inline-block
			width: 90%
			vertical-align: top
			color: $black-blue
			padding-left: 10px
			.fa-caret-down
				font-size: 20px
				padding: 0 5px
.dropdown
	margin: 0
	list-style: none
	padding: 0
	display: none
	li
		padding: 10px 0 10px 40px
		a
			padding: 0
		i
			color: $black-blue
.side-block
	background-color: #f6f6f6
	margin: 20px 0
	padding: 20px
	border-bottom: 5px solid #ccc
	&.news
		border-radius: 0 50px 0 0
	&.sales
		border-radius: 0 0 50px 0
	h2
		margin: 0
		text-transform: uppercase
		font-size: 25px
		font-weight: bold
	.side-block-article
		border-bottom: 1px dashed $black-blue
		margin: 10px 0
		p
			margin: 0
			margin-bottom: 10px
			a
				color: $black-blue
		.mite
			color: #999
			font-size: 12px
			margin: 0
	.side-block-all
		text-align: center
		margin: 0
		a
			color: $black-blue
			font-size: 25px
			text-decoration: underline
			&:hover
				color: $red
.content-container
	text-align: justify
	line-height: 2
	.lead
		padding-left: 50px
		border-left: 5px solid $red
.blue-section
	background: url(../img/blue-bg.jpg) no-repeat center center
	background-size: cover
	min-width: 1200px
	padding: 100px 0 150px
	h1
		margin-top: 0
.slider-section
	background-color: #eee
	position: relative
	h3
		margin: 0
		text-transform: uppercase
		padding: 20px 0
		text-align: center
	.slider
		text-align: center
		position: relative
	.description
		text-align: center
		position: relative
		height: 100px
		width: 900px
		margin: 0 auto
		div
			display: inline-block
			margin: 0 40px
			width: 300px
			vertical-align: middle
.white-section
	background: url(../img/white-bg.png) no-repeat center center
	background-size: cover
	min-width: 1200px
	padding: 10px
	h1
		margin-top: 0
	.img-wrapper
		text-align: center
.order-section
	background: #eee
	min-width: 1200px
	padding: 20px 0
	text-align: center
	h1
		margin-top: 0
		color: #6a94b3
		font-size: 50px
	p
		width: 700px
		margin: 0 auto
footer
	background-color: $black-blue
	border-bottom: 5px solid $red
	min-width: 1200px
	text-align: center
	position: relative
	div
		display: inline-block
		vertical-align: middle
		color: #fff
		text-align: center
		font-size: 20px
		padding: 10px 25px
		p
			margin: 0
		.fa
			font-size: 25px
		a
			color: #fff
			&:hover
				color: #fff